.back
  .main-content
    = render "header"
    .heya
      = link_to chat_top_index_path do
        .heya__btn 入
        = image_tag '/meme.jpg',class:'me'
      .heya__num 0/10
    .heya
      = link_to "#" do
        .heya__btn 入
        = image_tag '/meme.jpg',class:'me'
      .heya__num 0/10
    .heya
      = link_to "#" do
        .heya__btn 入
        = image_tag '/meme.jpg',class:'me'
      .heya__num 0/10
    .heya
      = link_to "#" do
        .heya__btn 入
        = image_tag '/meme.jpg',class:'me'
      .heya__num 0/10