= form_with model:@room do |f|
  - if @room.errors.any?
    .chat-group-form__errors
      %h2= "#{room.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message
  .room-form
    %h1　部屋の作成
    .text
      = f.text_field :name, placeholder:"部屋名を入力してください。"
    .hito
      = f.collection_check_boxes :user_ids, User.all, :id, :name,class:"hito"
    .sousin
      = f.submit 